<!DOCTYPE html>
<html lang="es">

<head>
    <% include ../partials/head %>
</head>
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>
    <main>
      <div id="titol">

          <img src="/logos/medalla-b2.JPG"></img>
          <h1>Medalla de Sant Vicenç 2018 </h1>
        <small><p>A continuació podreu veure tots els aspirants a la medalla d'aquest any:</p></small>

      </div>                     

        <div class="about">
          Aqui aniria el Text per explicar que es aixo d ela Medalla de Sant Vicenç etc etc etc...
        </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
<%include ../partials/scripts %>

</html>
