<!DOCTYPE html>
<html lang="es">

<head>
    <% include ../partials/head %>
</head>
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>
    <main>
      <div id="titol">

          <img src="/logos/medalla-b2.JPG"></img>

        <small><p>A continuació podreu veure tots els aspirants a la medalla d'aquest any:</p></small>

      </div>
      <div id="container"

        <div class="about">
          <p>Des d’aquest dijous 1 de març ha quedat obert el termini per presentar candidatures a la Medalla de Sant Vicenç 2018. Aquesta iniciativa de participació ciutadana proposa reconèixer un veí o veïna del municipi que hagi destacat per la seva dedicació desinteressada al municipi al llarg de la seva trajectòria. Aquest any la regidoria de Participació Ciutadana de l’Ajuntament de Sant Vicenç de Castellet compta amb una nova Comissió que treballarà per potenciar un reconeixement que es farà públic coincidint amb la Festa Major d’Estiu.</p>
          <h3>Presentació de candidatures</h3>

          <p>Els veïns i veïnes i les entitats que vulguin proposar candidatures tindran temps fins al proper 31 de març per proposar el seu candidat o candidata. Ho poden fer l’OAC de l’Ajuntament o bé a través de la pàgina web En les dues primeres edicions de la Medalla de Sant Vicenç es van reconèixer Josep Gomàriz i Manel Garcia ‘Mana’, el darrer a títol pòstum.</p>

        </div>
      </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
<%include ../partials/scripts %>

</html>
