<!DOCTYPE html>
<html lang="es">

<head>
    <% include ../partials/head %>
</head>
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>
    <main>
      <div id="titol">

          <img src="/logos/medalla-b2.JPG"></img>

        <small><p>A continuació podreu veure tots els aspirants a la medalla d'aquest any:</p></small>

      </div>
      <div id="container"

        <div class="about">
          <h3>Sobre la Medalla:</h3>
          <p>L'Ajuntament de Sant Vicenç de Castellet torna a impulsar, enguany, la Medalla de Sant Vicenç, per reconèixer i posar en valor al patrimoni social
            que tenim al nostre poble.</p>
          <p>Durant el mes de març d'han presentat diferents candidatures que us detallarem a continuació, de persones que han destacat en algun àmbit, ja sigui perquè duen
            el nom de Sant Vicenç a fora del municipi, per les seves obres o projecte, o simplement perquè treballen desinteressadament pel poble i contribueixen a fer accions
            que donen un valor afeigit a les persones que hi vivim.
          </p>
          <p>
            Ara ens toca a totes i a tots a votar per la persona que considerem que més es mereix el reconeixement de la Medalla de Sant Vicenç 2019.
          </p>
          <p>
            La Medalla es lliurarà, per la Festa Major d'Estiu, a la persona que obtingui més votacions de la ciutadania.
          </p>
          <h3>Normes relatives a la votació:</h3>
          <ul>
            <li>Podran votar les persones majors de 16 anys.</li>
            <li>Cada perosna només podrà votar un cop i un sol candidat. Els vots sense DNI o bé que estiguin duplicats, seran considerats nuls.</li>
          </ul>

        </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
<%include ../partials/scripts %>

</html>
