<!DOCTYPE html>
<html lang="es">

<head>
    <% include ../partials/head %>
</head>
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">

            <h1>Medalla de Sant Vicenç 2017 </h1>
            <p>Estàs el AdminSite</p>
        </div>
        <p>Llista d'Aspirants:</p>
        <div id="flex-cont">
          <ul>
          <% aspirants.forEach(function(aspirant) { %>
            <li><%= aspirant.nom %> <button id="btnRmv" type="button" class="btn btn-danger" name="obj" value="<%= aspirant._id %>">Eliminar</button></li>
            <% }); %>
          </ul>
        </div>

    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
<%include ../partials/scripts %>
<script>
  $("#btnRmv").on('click', function(e){
    console.log("polsat");
    $.ajax({
      data:{"obj":$(this).val()},
      url:"admin/removeAspirant",
      method:"post"
    }).done(function(data){
      alert(data);
    });
  });
</script>

</html>
