<!DOCTYPE html>
<html lang="es">

<head>
    <% include ../partials/head %>
</head>
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">

            <h1>Medalla de Sant Vicenç 2017 </h1>
            <p>Estàs el AdminSite</p>
        </div>
        <div id="flex-cont">
          <div class="indexCol"></div>
            
          </div>
        </div>

    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
<%include ../partials/scripts %>

</html>
