<meta charset="UTF-8">
<title>Medalla de SVC</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="stylesheets/style.css">
<style>
    body    { padding-top:50px; }
</style>
