<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="login">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Entrar
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Principal</a></li>
            <li><a href="/about">Sobre la Medalla</a></li>
        </ul>

    </div>
</nav>
